{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script>
  function dark_mode_btn_click() {
    var node1 = document.getElementById('theme_source');
    var node2 = document.getElementById('theme_source_2');
    if(node1.getAttribute('rel')=='stylesheet'){
      node2.setAttribute('rel', 'stylesheet');
      setTimeout(function(){
        node1.setAttribute('rel', 'stylesheet alternate');
      }, 5);
      sessionStorage.setItem('theme', 'dark');
    }else{
      node1.setAttribute('rel', 'stylesheet');
      setTimeout(function(){
        node2.setAttribute('rel', 'stylesheet alternate');
      }, 5);
      sessionStorage.setItem('theme', 'light');
    }
    document.firstElementChild.setAttribute("data-theme", sessionStorage.getItem('theme'));
    changeColor();
    return false;
}

function changePrimaryColor(variable, index) {
  document.documentElement.style.setProperty('--primary-color', `var(${variable})`);
  localStorage.setItem('primary_color', variable);
  localStorage.setItem('selected_index', index);
  changeColor();
}

function changeColor() {
  var defButtons = document.getElementsByClassName('pacGum');
  var primaryColor = localStorage.getItem('primary_color') || '--flamingo';
  var selectedIndex = localStorage.getItem('selected_index');
  document.documentElement.style.setProperty('--primary-color', `var(${primaryColor})`);

  // Loop through each button
  for (var i = 0; i < defButtons.length; i++) {
    var button = defButtons[i];
    var buttonColor =  button.style.backgroundColor;

    // If the button color matches the primary color, set its size to 16px and add the "selectedColor" class
    if (buttonColor === `var(${primaryColor})`) {
      button.classList.add('selectedColor');

      // If the button is the selected button, set its index in localStorage
      if (i === selectedIndex) {
        localStorage.setItem('selected_index', i);
      }
    } else {
      // Otherwise, remove the "selectedColor" class
      button.classList.remove('selectedColor');
    }
  }
}

changeColor();
</script>