/* ==========================================================================
   Variables
   ========================================================================== */

   $palette: (
    "mocha": (
      "rosewater": #f5e0dc,
      "flamingo": #f2cdcd,
      "pink": #f5c2e7,
      "mauve": #cba6f7,
      "red": #f38ba8,
      "maroon": #eba0ac,
      "peach": #fab387,
      "yellow": #f9e2af,
      "green": #a6e3a1,
      "teal": #94e2d5,
      "sky": #89dceb,
      "sapphire": #74c7ec,
      "blue": #89b4fa,
      "lavender": #b4befe,
      "text": #cdd6f4,
      "subtext1": #bac2de,
      "subtext0": #a6adc8,
      "overlay2": #9399b2,
      "overlay1": #7f849c,
      "overlay0": #6c7086,
      "surface2": #585b70,
      "surface1": #45475a,
      "surface0": #313244,
      "base": #1e1e2e,
      "mantle": #181825,
      "crust": #11111b,
    ),
    "macchiato": (
      "rosewater": #f4dbd6,
      "flamingo": #f0c6c6,
      "pink": #f5bde6,
      "mauve": #c6a0f6,
      "red": #ed8796,
      "maroon": #ee99a0,
      "peach": #f5a97f,
      "yellow": #eed49f,
      "green": #a6da95,
      "teal": #8bd5ca,
      "sky": #91d7e3,
      "sapphire": #7dc4e4,
      "blue": #8aadf4,
      "lavender": #b7bdf8,
      "text": #cad3f5,
      "subtext1": #b8c0e0,
      "subtext0": #a5adcb,
      "overlay2": #939ab7,
      "overlay1": #8087a2,
      "overlay0": #6e738d,
      "surface2": #5b6078,
      "surface1": #494d64,
      "surface0": #363a4f,
      "base": #24273a,
      "mantle": #1e2030,
      "crust": #181926,
    ),
    "frappe": (
      "rosewater": #f2d5cf,
      "flamingo": #eebebe,
      "pink": #f4b8e4,
      "mauve": #ca9ee6,
      "red": #e78284,
      "maroon": #ea999c,
      "peach": #ef9f76,
      "yellow": #e5c890,
      "green": #a6d189,
      "teal": #81c8be,
      "sky": #99d1db,
      "sapphire": #85c1dc,
      "blue": #8caaee,
      "lavender": #babbf1,
      "text": #c6d0f5,
      "subtext1": #b5bfe2,
      "subtext0": #a5adce,
      "overlay2": #949cbb,
      "overlay1": #838ba7,
      "overlay0": #737994,
      "surface2": #626880,
      "surface1": #51576d,
      "surface0": #414559,
      "base": #303446,
      "mantle": #292c3c,
      "crust": #232634,
    ),
    "latte": (
      "rosewater": #dc8a78,
      "flamingo": #dd7878,
      "pink": #ea76cb,
      "mauve": #8839ef,
      "red": #d20f39,
      "maroon": #e64553,
      "peach": #fe640b,
      "yellow": #df8e1d,
      "green": #40a02b,
      "teal": #179299,
      "sky": #04a5e5,
      "sapphire": #209fb5,
      "blue": #1e66f5,
      "lavender": #7287fd,
      "text": #4c4f69,
      "subtext1": #5c5f77,
      "subtext0": #6c6f85,
      "overlay2": #7c7f93,
      "overlay1": #8c8fa1,
      "overlay0": #9ca0b0,
      "surface2": #acb0be,
      "surface1": #bcc0cc,
      "surface0": #ccd0da,
      "crust": #dce0e8,
      "mantle": #e6e9ef,
      "base": #eff1f5,
    )
  );

/*
   Typography
   ========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: sans-serif, Montserrat !default;
// -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
// "Helvetica Neue", "Lucida Grande", Arial, sans-serif
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

/*
   Colors
   ========================================================================== */

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* links */
$link-color: mix(#000, $info-color, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#000, $primary-color, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary-color, 75%) !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;
